@font-face {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 800;
    src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
    font-display: swap;
}

@font-face {
    font-family: "Rubik";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
    font-display: swap;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100%;

    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;

    background-color: #ffffff;
}

.page-container {
    width: 1160px;
    min-width: 1160px;
    margin: 0 auto;
}

/* Buttons */

.btn {
    display: block;

    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: .2rem;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

.btn-secondary {
    display: block;

    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: .2rem;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

/*visually-hidden !!! */

.visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}



/*Header*/

.main-header {
    margin-top: 20px;
    padding: 0 60px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 20px, #ffe17f 20px, #ffe17f 100%);
}

.navigation-logo {
    display: inline-block;
    margin-bottom: 30px;
}

.user-menu {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.user-menu-search-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.user-menu-cart-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.menu-search-input {
    font-family: "Rubik";
    font-size: 16px;
    line-height: 20px;
}

.menu-search-btn {
    font-family: "Rubik";
    font-size: 16px;
}

.menu-link {
    color: #000000;
    text-decoration: none;
}

.header-submenu {
    display: flex;
    justify-content: space-between;
}

.header-submenu-list {
    display: flex;
    margin: 0;

    list-style-type: none;
}

.header-submenu-link {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: .2rem;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
}

/*Main*/

.main-index,
.main-inner {
    flex-grow: 1;
}

/* Slider */

.slider {
    background: linear-gradient(180deg, #ffe17f 0%, #ffe17f 150px, rgba(255, 255, 255, 0) 150px);
}

.slider-product-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.slider-product {
    display: flex;
}

.slider-product-images {
    position: relative;

    display: flex;
    margin-right: 40px;
}

.slider-product-img {
    display: block;
}

.slider-product-controls {
    position: absolute;
    top: 50%;

    display: flex;
    justify-content: space-between;
    width: 100%;

    transform: translateY(-50%);
}

.slider-content {
    position: relative;
    z-index: 0;

    padding-top: 72px;
}

.slider-counter {
    position: absolute;
    top: -15px;
    right: 50px;
    z-index: 0;

    margin: 0;

    font-size: 180px;
    line-height: normal;
    font-weight: 700;
    color: #ffffff;
}

.slider-product-title {
    position: relative;
    z-index: 1;

    font-family: "Raleway";
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.slider-product-description {
    color: #444444;
}

.slider-product-features-list {
    display: flex;
    margin: 0;
    padding: 0;

    list-style-type: none;
}

.slider-product-feature-count {
    margin: 0;

    font-size: 36px;
    font-weight: 400;

}

.slider-product-feature-description {
    color: #444444;
}

/*Categories*/

.category-link {
    margin: 0;

    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: -0.02rem;
    color: #000000;
    text-decoration: none;
}


/*Services*/

.services {
    background: linear-gradient(0deg, #f0f0f0 0%, #f0f0f0 289px, rgba(255, 255, 255, 0) 289px);
}

.service-title {
    margin: 0;

    font-family: "Raleway";
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.service-description {
    color: #444444;
}


/*Delivery*/

.delivery-link {
    margin: 0;

    font-family: "Raleway";
    font-size: 20px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: .2rem;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

/*About*/

.about-title {
    margin: 0;

    font-family: "Raleway";
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.about-description {
    color: #444444;
}

.about-company-list {
    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02rem;
}

.about-subtitle {
    margin: 0;

    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #444444;
}

.about-phone {
    color: #444444;
}

/*Subscribe*/

.subscribe {
    background-color: #f0f0f0;
}

.subscribe-title {
    margin: 0;

    font-family: "Raleway";
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.subscribe-description {
    margin: 0;

    color: #444444;
}

.subscribe-input {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
}

.subscribe-note {
    color: #444444;
}

/*Inner header*/

.inner-header-title {
    margin: 0;

    font-family: "Raleway";
    font-size: 50px;
    font-weight: 800;
    line-height: 50px;
}

.breadcrumbs-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #000000;
    text-decoration: none;
}

/*Filter*/

.catalog-filter-title {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.catalog-filter-ruleset-title {
    margin: 0;

    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: 20px;
    letter-spacing: -0.02rem;
    color: #000000;
}

/*Sort*/

.sort-title {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: .2rem;
    text-transform: uppercase;
}

.sort-select-control {
    font-family: "Rubik", sans-serif;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #000000;
}

/*Catalog body*/

.catalog-body {
    background-color: #f0f0f0;
}

/*Product list*/

.catalog-products {
    background-color: #ffffff;
}

.product-title {
    margin: 0;

    font-size: 18px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: -0.02rem;
    color: #000000;
}

.product-price {
    line-height: normal;
    color: #444444;
}

/*Pagination*/

.catalog-pagination {
    background-color: #ebebeb;
}

.pagination-link {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #444444;
    text-decoration: none;
}

/*Footer*/

.main-footer {
    background-color: #444444;
}

.footer-address-info {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    color: #ffffff;
}

.footer-services-link {
    font-family: "Raleway";
    font-size: 18px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: .2rem;
    color: #ffffff;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-phone-link {
    font-size: 16px;
    color: #ffffff;
}

.filter-control-label {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
}
